<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Hotel-Management-System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetRoomDetails</display-name>
    <servlet-name>GetRoomDetails</servlet-name>
    <servlet-class>com.Database.GetRoomDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRoomDetails</servlet-name>
    <url-pattern>/GetRoomDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomDetails</display-name>
    <servlet-name>RoomDetails</servlet-name>
    <servlet-class>com.Database.RoomDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomDetails</servlet-name>
    <url-pattern>/RoomDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRoomDetails</display-name>
    <servlet-name>ViewRoomDetails</servlet-name>
    <servlet-class>com.Data.ViewRoomDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRoomDetails</servlet-name>
    <url-pattern>/ViewRoomDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveContactInfo</display-name>
    <servlet-name>SaveContactInfo</servlet-name>
    <servlet-class>com.Data.SaveContactInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveContactInfo</servlet-name>
    <url-pattern>/SaveContactInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetContact</display-name>
    <servlet-name>GetContact</servlet-name>
    <servlet-class>com.Data.GetContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetContact</servlet-name>
    <url-pattern>/GetContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpAuth</display-name>
    <servlet-name>SignUpAuth</servlet-name>
    <servlet-class>com.Data.SignUpAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpAuth</servlet-name>
    <url-pattern>/SignUpAuth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignInAuth</display-name>
    <servlet-name>SignInAuth</servlet-name>
    <servlet-class>com.Data.SignInAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInAuth</servlet-name>
    <url-pattern>/SignInAuth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageDisplay</display-name>
    <servlet-name>MessageDisplay</servlet-name>
    <servlet-class>com.Data.MessageDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageDisplay</servlet-name>
    <url-pattern>/MessageDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomAuth</display-name>
    <servlet-name>RoomAuth</servlet-name>
    <servlet-class>com.Data.RoomAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomAuth</servlet-name>
    <url-pattern>/RoomAuth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.Data.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomManage</display-name>
    <servlet-name>RoomManage</servlet-name>
    <servlet-class>com.Data.RoomManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomManage</servlet-name>
    <url-pattern>/RoomManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookConfirm</display-name>
    <servlet-name>BookConfirm</servlet-name>
    <servlet-class>com.Data.BookConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookConfirm</servlet-name>
    <url-pattern>/BookConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRooms</display-name>
    <servlet-name>AddRooms</servlet-name>
    <servlet-class>com.Data.AddRooms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRooms</servlet-name>
    <url-pattern>/AddRooms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Allocation</display-name>
    <servlet-name>Allocation</servlet-name>
    <servlet-class>com.Data.Allocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Allocation</servlet-name>
    <url-pattern>/Allocation</url-pattern>
  </servlet-mapping>
</web-app>